

/*
|------------------------------------------------------------------
	[Table of contents]:

	1. COMMON CSS
	2. FORM DESIGN
	3. STEP PROGRESS
	4. ATTCHMENT FIELD
	5. SELECT BOX
	6. SERVICES
	7. FINAL STEP REVIEW
	8. MATH CAPTCHA
	9. BUTTON
	10. CALENDAR STYLE
	11. RESPONSIVE
	
|-------------------------------------------------------------------
*/

/*
|----------------------------------------------------------------------------
	1. COMMON CSS
|----------------------------------------------------------------------------
*/
.intro-text {
	border: 1px solid #3e3e3e;
    border-radius: 10px;
    font-size: 18px;
    margin: 50px 20%;
    padding: 30px;
}

.QuoteForm-section{
	background-attachment: fixed;
	background-image: url(../images/bg.jpg);
	background-position: center center;
	background-repeat:  no-repeat;
	background-size:  cover;
    margin: 0 auto;
    padding: 0;
	position: relative;
    width: 100%;
	z-index: 1;
}
.QuoteForm-section::before{
	background-color: #fff;
	content: "";
	height: 100%;
	left: 0;
	position: absolute;
	opacity: 0.7;
	top: 0;
    width: 100%;
	z-index: -1;
}
.column {
	margin: 0 0 50px;
}
.display-table {
    display: table;
    height: 100vh;
    width: 100%;
}
.display-table-cell {
    display: table-cell;
    vertical-align: middle;
}
.form-wrap {
    background-color: rgba(250, 250, 250, 0.9);
    border-radius: 4px;
    margin: 30px auto;
    padding: 30px;
}
h2.form-title {
    font-size: 32px;
    font-weight: bold;
	color: #0c43b3;
    margin: 50px 0;
    padding: 0 30px;
    text-align: center;
}
h3.section-title {
	background-color: rgba(62, 62, 62, 0.9);
    border: 1px solid rgba(62, 62, 62, 0.9);
    border-radius: 10px;
	color: #fff;
	font-weight: bold;
    padding: 10px;
    margin: 50px 0;
    text-align: center;
}
.section-wrap {
    overflow: hidden;
    position: relative;
}
.section {
    overflow: hidden;
	-webkit-transition: all 0.23s ease-in-out 0s;
    -moz-transition: all 0.23s ease-in-out 0s;
    -ms-transition: all 0.23s ease-in-out 0s;
    -o-transition: all 0.23s ease-in-out 0s;
    transition: all 0.23s ease-in-out 0s;
}
.section.slide-right {
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
    width: 100%;
}
.section.slide-left {
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
	-webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
}
.section.open {
    height: auto;
    opacity: 1;
}

/*
|----------------------------------------------------------------------------
	2. FORM DESIGN
|----------------------------------------------------------------------------
*/
form#QuoteForm {
    margin: 0 0 20px;
}
#QuoteForm h4 {
    font-size: 16px;
    font-weight: bold;
	margin: 10px 0 15px;
}
.form-group {
    margin: 0 0 30px;
	position: relative;
}
.form-control {
	padding-left: 50px;
}
.input-group-icon {
    background-color: rgba(3, 121, 202, 0.7);
    border: 0 none;
    border-radius: 4px 0 0 4px;
    color: #fff;
    display: table-cell;
    font-size: 14px;
    height: 100%;
    padding: 8px 7px;
    text-align: center;
    vertical-align: top;
    white-space: nowrap;
    width: 40px;
    position: absolute;
    top: 0;
}
#QuoteForm .has-error .form-control {
    border-color: #ce0606;
}
#QuoteForm .has-error .input-group-icon {
    background-color: #ce0606;
    color: #ffffff;
}
#QuoteForm .form-control:focus, #QuoteForm .has-error .form-control:focus {
	border-color: #0311ca;
	box-shadow: 0 1px 1px rgba(3, 17, 202, 0.075) inset, 0 0 8px rgba(3, 17, 202, 0.6);
}
#QuoteForm .form-control:focus + .input-group-icon, #QuoteForm .has-error .form-control:focus + .input-group-icon{
    background-color: #0311ca;
    color: #fff;
}
.help-block {
    color: #ce0606;
    margin: 0;
    position: absolute;
    bottom: -30px;
}
.help-block.with-errors.mandatory-error {
    bottom: auto;
    font-size: 16px;
    font-weight: bold;
    position: relative;
}
.form-group .help-block ul {
    margin-bottom: 8px;
}
.form-group .help-block ul li {
    background-color: #ce0606;
    color: rgba(255, 255, 255, 0.99);
	padding: 1px 5px;
    border-radius: 2px;
    top: 3px;
    font-size: 12px;
	position: relative;
	max-height: 24px;
}
.form-group .help-block ul li::after {
	content: "";
    position: absolute;
    height: 0;
    width: 0;
    right: 50%;
    top: -9px;
    border: 5px solid transparent;
    border-bottom: 5px solid #ce0606;
}
.text-danger {
    color: #ce0606;
    font-size: 20px;
}

/*Check box / Radio button */
.checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"], .radio input[type="radio"], .radio-inline input[type="radio"] {
    margin: 3px 0 0 -20px;
}
.checkbox-inline + .checkbox-inline, .radio-inline + .radio-inline  {
	margin-left: 0;
}
.checkbox-inline, .radio-inline  {
	margin: 0 10px 5px 0;
}
.checkbox-inline.display-inline, .radio-inline.display-inline  {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}
.validagree .checkbox label {
    font-weight: bold;
}
.mgs-checkbox li, .mgs-radio li {
    display: inline-block;
    margin: 0 3% 0 0;
	width: 30%
}
.mgs-checkbox li:last-child, .mgs-radio li:last-child {
    margin: 0;
}
.mgs-checkbox input[type="checkbox"][id^="cb"], .mgs-radio input[type="radio"][id^="opsys"] {
	display: none;
}
.mgs-radio input[type="radio"][id^="opsys"] {
	display: block;
	position: relative;
	left: 3px;
	top: 17px;
	z-index: 1;
}
.mgs-radio input[type="radio"][id^="opsys"]:checked {
	display: none;
}
.mgs-checkbox label, .mgs-radio label {
	border: 1px solid #0379ca;
	border-radius: 10px;
	padding: 10px;
	display: block;
	position: relative;
	cursor: pointer;
}
.mgs-checkbox label img, .mgs-radio label img {
	max-width: 100%;
	border-radius: 10px;
}
.mgs-checkbox :checked + label, .mgs-radio :checked + label {
	border-color: #0311ca;
}
.mgs-checkbox :checked + label:before, .mgs-radio :checked + label:before {
	color: #0311ca;
    content: "\f058";
    font-family: "Font Awesome 5 Free";
    font-size: 30px;
	font-weight: 700;
    left: 8px;
    position: absolute;
    top: -5px;
}
#QuoteForm .mgs-checkbox :checked + label, #QuoteForm .mgs-radio :checked + label,
#QuoteForm .mgs-checkbox label:hover, #QuoteForm .mgs-radio label:hover {
    border-color: rgba(3, 121, 202, 0.7);
    background-color: rgba(3, 121, 202, 0.7);
}

/************** MgsRadioStyle Radio button ***************/
.mgsradio-circle-buttons label {
    display: block;
    position: relative;
    padding: 0 25px;
    height: 20px;
    z-index: 9;
    cursor: pointer;
}
.mgsradio-circle-buttons input[type="radio"]:checked ~ .check {
    border: 11px solid rgba(3, 121, 202, 0.7);
	width: 0;
	height: 0;
}
.mgsradio-circle-buttons input[type="radio"] {
    position: absolute;
    visibility: hidden;
}
.mgsradio-circle-buttons .check {
    display: block;
    position: relative;
    border: 1px solid #a0a0a0;
    border-radius: 100%;
    height: 20px;
    width: 20px;
    top: -25px;
    z-index: 5;
}
.radio-inline.mgsradio-circle-buttons {
    padding-left: 0;
	margin: 0;
	height: 24px;
}

/************** MgsCheckbox Style Checkbox ***************/
.mgsstyle-checkbox.mgscheckbox-style li {
    display: inline-block;
	width: auto;
    margin: 0 3% 0 0;
}
.mgsstyle-checkbox.mgscheckbox-style li:last-child {
    margin: 0;
}
.mgsstyle-checkbox.mgscheckbox-style input[type="checkbox"] {
	display: none;
}
.mgsstyle-checkbox.mgscheckbox-style label  {
	position: relative;
	padding: 5px 30px;
}
.mgsstyle-checkbox.mgscheckbox-style label:before {
	border: 1px solid #a0a0a0;
	border-radius: 3px;
	content: "";
	left: 0;
	position: absolute;
	top: 4px;
	width: 24px;
	height: 24px;
}
.mgsstyle-checkbox.mgscheckbox-style :checked + label:before {
	border: 12px solid rgba(3, 121, 202, 0.7);
	border-radius: 3px;
	content: "";
	left: 0;
	position: absolute;
	top: 5px;
	width: auto;
	height: auto;
}

/*
|----------------------------------------------------------------------------
	3. STEP PROGRESS
|----------------------------------------------------------------------------
*/
.progress {
	background-color: rgba(62, 62, 62, 0.3);
    margin: 0 0 50px;
	padding: 0;
	position: relative;
	height: 32px;
}
.progress-bar {
    background-color: rgba(3, 121, 202, 0.99);
}
.progress-bar-text {
    font-size: 16px;
	font-weight: bold;
    left: 50%;
    margin-left: -38px;
	padding: 6px 0;
    position: absolute;
}

/*
|----------------------------------------------------------------------------
	4. ATTCHMENT FIELD
|----------------------------------------------------------------------------
*/
.section .form-group.attachmentFile {
	display: table;
	margin: 15px 0 40px;
}
.section .input-group-btn ~ .form-control {
    border-radius: 0 4px 4px 0;
    cursor: not-allowed;
    padding-left: 10px;
}
.section .input-group-btn > .btn {
    background-color: rgba(3, 121, 202, 0.7);
    border: 1px solid rgba(3, 121, 202, 0.7);
    border-radius: 4px 0 0 4px;
    color: #fff;
    height: 34px;
    padding: 4.5px 14px;
}
.attachmentFile .input-group-btn:first-child > .btn, .input-group-btn:first-child > .btn-group {
    margin-left: 0;
}
.section .input-group-btn > .btn > input[type="file"] {
    display: none;
}

/*upload file b4 fix*/
.form-group.attachmentFile .input-group-btn ~ .form-control {
	width: calc(100% - 90px);
	margin-left: -5px;
	border-left: none;
	display: inline;
}
.form-group.attachmentFile .input-group-btn > .btn {
	width: 90px;
	margin-top: -5px;
	height: 38px;
}

/*
|----------------------------------------------------------------------------
	5. SELECT BOX
|----------------------------------------------------------------------------
*/
#QuoteForm select {
	background-color: transparent;
	display: inline-block;
	box-sizing: border-box;
	-webkit-appearance: none;
	-moz-appearance: none;
}
#QuoteForm select {
	background-image: linear-gradient(45deg, transparent 50%, #0379ca 50%),
		linear-gradient(135deg, #0379ca 50%, transparent 50%),
		radial-gradient(transparent 66%, transparent 66%);
	background-position: calc(100% - 18px) calc(1em + 2px),
		calc(100% - 13px) calc(1em + 2px),
		calc(100% - .5em) .5em;
	background-size: 5px 6px, 6px 5px, 1.5em 1.5em;
	background-repeat: no-repeat;
}
#QuoteForm select:focus {
	background-image: linear-gradient(45deg, transparent 50%, #0c43b3 50%),
		linear-gradient(135deg, #0c43b3 50%, transparent 50%),
		radial-gradient(transparent 66%, transparent 66%);
}
#QuoteForm select::-ms-expand {
    display: none;
}


/*Form Step*/
#QuoteForm .form-layer-steps {
	margin: 0 0 50px;
    overflow: hidden;
    position: relative;
}
#QuoteForm .form-layer-progress {
    background-color: #b5b5b5;
    height: 1px;
    left: 0;
    position: absolute;
    top: 26px;
    width: 100%;
}
#QuoteForm .form-layer-progress-line {
    background-color: #0379ca;
    height: 1px;
    left: 0;
    position: absolute;
    top: 0;
}
#QuoteForm .form-layer-tolal-steps-5 .form-layer-step {
    float: left;
    padding: 0;
    position: relative;
	text-align: center;
    width: 20%;
}
#QuoteForm .form-layer-tolal-steps-4 .form-layer-step {
    float: left;
    padding: 0;
    position: relative;
	text-align: center;
    width: 25%;
}
#QuoteForm .form-layer-step-icon {
    background-color: #b5b5b5;
    border-radius: 50%;
    color: #fff;
    display: inline-block;
    font-size: 16px;
    height: 40px;
    line-height: 40px;
    margin-top: 4px;
    width: 40px;
	text-align: center;
}
#QuoteForm .form-layer-step-icon.activestep {
    background-color: #3e3e3e;
}
#QuoteForm .form-layer-step.activated .form-layer-step-icon {
    background-color: #fff;
    border: 1px solid #0379ca;
    color: #0379ca;
    line-height: 38px;
}
#QuoteForm .form-layer-step.active .form-layer-step-icon {
    background-color: #0379ca;
    font-size: 22px;
    height: 48px;
    line-height: 48px;
    margin-top: 0;
    width: 48px;
}
#QuoteForm .form-layer-step p.steptitle {
    margin: 5px 0 10px;
}
#QuoteForm .form-layer-step.active p.steptitle {
    margin: 0 0 10px;
}
#QuoteForm .form-layer-step.currentstep p.steptitle {
    border: 1px solid;
    border-radius: 3px;
    padding: 2px;
}
#QuoteForm .form-layer-step.currentstep .form-layer-step-icon::before {
    position: absolute;
    left: calc(50% - 8px);
    top: 18px;
    color: #3e3e3e;
    content: "\f0dd";
    font-family: "Font Awesome 5 Free";
    font-size: 28px;
    font-weight: 700;
}


/************************ Theme 2 ************************/
#QuoteForm .form-layer-steps.mgscmultisteptheme2 {
	padding: 0 5px;
}
#QuoteForm .form-layer-steps.mgscmultisteptheme2 .form-layer-step p.steptitle {
    margin: 10px 0 10px;
}
#QuoteForm .form-layer-steps.mgscmultisteptheme2 .form-layer-step.currentstep p.steptitle {
    margin: 7px 0 10px;
}
#QuoteForm .form-layer-steps.mgscmultisteptheme2 .form-layer-step-icon {
	background-color: #ddd;
}
#QuoteForm .form-layer-steps.mgscmultisteptheme2 .currentstep .form-layer-step-icon {
	background-color: #696969;
}
#QuoteForm .form-layer-steps.mgscmultisteptheme2 .form-layer-step-icon {
	color: #333;
}
#QuoteForm .form-layer-steps.mgscmultisteptheme2 .active .form-layer-step-icon {
	background-color: #0379ca;
}
#QuoteForm .form-layer-steps.mgscmultisteptheme2 .form-layer-step-icon:hover,
#QuoteForm .form-layer-steps.mgscmultisteptheme2 .form-layer-step.active .form-layer-step-icon,
#QuoteForm .form-layer-steps.mgscmultisteptheme2 .currentstep .form-layer-step-icon {
	color: #fff;
}
#QuoteForm .form-layer-steps.mgscmultisteptheme2 .form-layer-progress {
    top: 23px;
    width: calc(100% - 20px);
	background-color: transparent;
}
#QuoteForm .form-layer-steps.mgscmultisteptheme2 .form-layer-progress-line {
	background-color: transparent;
}	
#QuoteForm .form-layer-steps.mgscmultisteptheme2 .form-layer-step-icon,
#QuoteForm .form-layer-steps.mgscmultisteptheme2 .currentstep .form-layer-step-icon {
    border-radius: inherit;
    width: calc(100% - 20px);
	font-size: 16px;
	height: 40px;
	line-height: 40px;
	margin-top: 4px;
}
#QuoteForm .form-layer-steps.mgscmultisteptheme2 .form-layer-step-icon:hover {
	background: #696969;
}
#QuoteForm .form-layer-steps.mgscmultisteptheme2 .active .form-layer-step-icon:hover {
	background: #0379ca;
}
#QuoteForm .form-layer-steps.mgscmultisteptheme2 .form-layer-step-icon::before,
#QuoteForm .form-layer-steps.mgscmultisteptheme2 .currentstep .form-layer-step-icon::before {
	content: "";
	position: absolute;
	top: 24px;
	margin-top: -20px;
	border-width: 20px 0 20px 16px;
	border-style: solid;
	border-color: #ddd #ddd #ddd transparent;
	left: -5px;
}
#QuoteForm .form-layer-steps.mgscmultisteptheme2 .currentstep .form-layer-step-icon::before {
	border-color: #696969 #696969 #696969 transparent;
}
#QuoteForm .form-layer-steps.mgscmultisteptheme2 .form-layer-step-icon:hover::before {
	border-color: #696969 #696969 #696969 transparent;
}
#QuoteForm .form-layer-steps.mgscmultisteptheme2 .form-layer-step-icon::after,
#QuoteForm .form-layer-steps.mgscmultisteptheme2 .currentstep .form-layer-step-icon::after {
	content: "";
	position: absolute;
	top: 24px;
	margin-top: -20px;
	border-top: 20px solid transparent;
	border-bottom: 20px solid transparent;
	border-left: 16px solid #ddd;
	right: -5px;
}
#QuoteForm .form-layer-steps.mgscmultisteptheme2 .currentstep .form-layer-step-icon::after {
	border-left: 16px solid #696969;
}
#QuoteForm .form-layer-steps.mgscmultisteptheme2 .form-layer-step-icon:hover::after {
	border-left-color: #696969;
}
#QuoteForm .form-layer-steps.mgscmultisteptheme2 .form-layer-step.active .form-layer-step-icon::before {
	border-color: #0379ca #0379ca #0379ca transparent;
}
#QuoteForm .form-layer-steps.mgscmultisteptheme2 .form-layer-step.active .form-layer-step-icon::after {
	border-left-color: #0379ca;
}


/*
|----------------------------------------------------------------------------
	6. SERVICES
|----------------------------------------------------------------------------
*/
.service-item {
    border: 1px solid #0c43b3;
    border-radius: 10px;
    margin: 0 0 50px;
    padding: 30px 15px;
	text-align: center;
}
.service-item i {
	border: 1px solid #0c43b3;
    border-radius: 50%;
    color: #0c43b3;
    font-size: 24px;
    line-height: 48px;
    width: 48px;
}
.service-item:hover i {
	background-color: #0311ca;
	border-color: #0311ca;
    color: #fff;
}
.service-item > h4 {
	color: #0c43b3;
    margin: 15px 0 0;
}
.service-item:hover > h4 {
	color: #0311ca;
}

/*
|----------------------------------------------------------------------------
	7. FINAL STEP REVIEW
|----------------------------------------------------------------------------
*/
.review-submit-section h4 {
    background-color: transparent;
    border: 1px solid #3e3e3e;
    border-radius: 6px;
    color: #222;
    padding: 10px;
	font-weight: bold;
	text-align: center;
}
.review-submit-section h5 {
    background-color: rgba(62, 62, 62, 0.7);
    border-radius: 6px;
    color: #fff;
    padding: 10px;
	margin: 50px 0 20px;
	font-size: 18px;
	text-align: center;
}
p#AggreData {
    margin: 0 0 40px;
}
.section-info-box strong {
    padding-right: 5px;
}

/*
|----------------------------------------------------------------------------
	8. MATH CAPTCHA
|----------------------------------------------------------------------------
*/
#humanCheckCaptchaBox {
    font-weight: bold;
}
#humanCheckCaptchaBox, #humanCheckCaptchaInput, #firstDigit, #secondDigit,  #mathfirstnum, #mathsecondnum {
    display: inline;
}
#humanCheckCaptchaInput.form-control {
    height: 30px;
    margin-left: 10px;
    padding: 4px;
    text-align: center;
    width: 45px;
}
#firstDigit #mathfirstnum, #secondDigit #mathsecondnum {
	border: none;
	box-shadow: none;
    width: 30px;
    height: 30px;
	padding: 0;
    pointer-events: none;
    text-align: center;
}

/*
|----------------------------------------------------------------------------
	9. BUTTON
|----------------------------------------------------------------------------
*/
.btn-default {
    background-color: transparent;
    border-color: #0379ca;
    color: #222;
}
.form-control[disabled], .form-control[readonly], .form-control {
    background-color: transparent;
    border: 1px solid #0379ca
}
.btn {
    overflow: hidden;    
	font-size:16px;
	padding: 6px 20px;
}
.btn-custom {
    background-color: rgba(3, 121, 202, 0.7);
	border: 1px solid rgba(3, 121, 202, 0.7);
    box-shadow: 0 0 1px transparent;
	color: #fff;
    display: inline-block;
    position: relative;
	text-transform: capitalize;
    -webkit-transform: perspective(1px) translateZ(0px);
    -moz-transform: perspective(1px) translateZ(0px);
    -ms-transform: perspective(1px) translateZ(0px);
    -o-transform: perspective(1px) translateZ(0px);
    transform: perspective(1px) translateZ(0px);
    -webkit-transition: color 0.3s;
    -moz-transition: color 0.3s;
    -ms-transition: color 0.3s;
    -o-transition: color 0.3s;
    transition: color 0.3s;
    vertical-align: middle;
}
.btn-custom::before {
    background-color: #0311ca;
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
	-webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scaleX(0);
    -webkit-transform-origin: 50% 50% 0;
	-moz-transform-origin: 50% 50% 0;	
	-ms-transform-origin: 50% 50% 0;	
	-o-transform-origin: 50% 50% 0;	
    transform-origin: 50% 50% 0;
	-webkit-transition: transform 0.3s ease-out;
    -moz-transition: transform 0.3s ease-out;
    -ms-transition: transform 0.3s ease-out;
    -o-transition: transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
    z-index: -1;
}
.btn-custom:hover, .btn-custom:focus, .btn-custom:active {
    border-color: #0311ca;
    color: #fff;
}
.btn-custom:hover::before, .btn-custom:focus::before, .btn-custom:active::before {
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -o-transform: scaleX(1);
	transform: scaleX(1);
}
.btn.btn-default.disable {
    pointer-events: none;
}
.btn.disabled, .btn[disabled], fieldset[disabled] .btn {
	opacity: 1;
}

/*
|----------------------------------------------------------------------------
	10. CALENDAR STYLE
|----------------------------------------------------------------------------
*/
.datepicker.datepicker-dropdown {
    width: 360px;
    max-width: 100%;
	padding: 30px 3px;
}
.datepicker.datepicker-dropdown table.table-condensed {
    width: 100%;
}
.datepicker.datepicker-dropdown .datepicker-switch {
    background-color: #0379ca;
    color: #fff;
    font-size: 20px;
}
.datepicker.datepicker-dropdown .datepicker-switch:hover {
    background-color: rgba(3, 121, 202, .5);
    color: #000;
}
.datepicker.datepicker-dropdown table.table-condensed th.next, .datepicker.datepicker-dropdown table.table-condensed th.prev {
    color: #0379ca;
    font-size: 24px;
}
.datepicker.datepicker-dropdown table.table-condensed thead > tr:nth-child(2) {
    height: 50px;
}
.datepicker.datepicker-dropdown table.table-condensed thead tr:nth-child(3) {
    background-color: #ddd;
}
.datepicker.datepicker-dropdown tfoot th.today:hover {
    background-color: #0379ca;
    color: #fff;
}
.datepicker.datepicker-dropdown td.available:hover, .datepicker.datepicker-dropdown th.available:hover,
.datepicker.datepicker-dropdown table tr td span:hover, .datepicker.datepicker-dropdown table tr td.day:hover {
    background-color: rgba(3, 121, 202, .8);
    color: #fff;
}
.datepicker.datepicker-dropdown table tr td span {
	background-color: rgba(3, 121, 202, .1);
}
.datepicker.datepicker-dropdown table tr td.disabled, .datepicker.datepicker-dropdown table tr td.disabled:hover,
.datepicker.datepicker-dropdown table tr td span.disabled, .datepicker.datepicker-dropdown table tr td span.disabled:hover {
	cursor: not-allowed;
    color: #999;
}

/*
|----------------------------------------------------------------------------
	11. RESPONSIVE
|----------------------------------------------------------------------------
*/
@media screen and (max-width: 767px) {		
	h2.form-title {
		padding: 0;
	}
	.form-wrap {
		padding: 30px 15px;
	}
	.intro-text {
		margin: 50px 15%;
	}
}
@media screen and (max-width: 568px) {
	.intro-text {
		margin: 50px 10%;
	}
}
@media screen and (max-width: 480px) {
	.col-xs-6 {
		width: 100%;
	}
}
@media screen and (max-width: 420px) {
	#firstDigit #mathfirstnum, #secondDigit #mathsecondnum {
		width: 20px;
	}
}
@media screen and (max-width: 360px) {	
	#QuoteForm span.sub-text {
		right: 30px;
	}
	.datepicker.datepicker-dropdown {
		width: 90%;
		max-width: 100%;
	}
}
@media screen and (max-width: 340px) {
	.form-group.quoteForm-step-1 {
		text-align: right;
	}
	.btn {
		margin: 0 0 20px 10px;
	}
}
