
#QuoteForm .form-control, #mc-form .form-control {
    background-color: #e8eaed;
    border: 1px solid #ddd;
    border-radius: 30px;
}	
#QuoteForm textarea.form-control {
    border-radius: 30px 10px 10px 30px;
}
#QuoteForm .form-control:focus, #mc-form .form-control:focus {
    box-shadow: 0 1px 1px rgba(190, 194, 203, 0.075) inset, 0 0 10px rgba(190, 194, 203, 0.7);
}
#QuoteForm .form-control:valid ~ .form-label, #QuoteForm .form-control:focus ~ .form-label {
	background-color: #0311ca;
    top: -24px;
    padding: 2px 10px;
    border-radius: 30px;
}
#QuoteForm textarea.form-control:valid ~ .form-label, #QuoteForm textarea.form-control:focus ~ .form-label {
    top: -24px;
}
#QuoteForm .btn.btn-custom {
    border-radius: 30px;
}
#QuoteForm .form-group .input-group-icon {
    border-radius: 30px 0 0 30px;
}

#QuoteForm .input-group-btn ~ .form-control {
    border-radius: 0 30px 30px 0;
}
#QuoteForm .input-group-btn > .btn {
    border-radius: 30px 0 0 30px;
	background-color: #0311ca;
	border: 1px solid #0311ca;
}

.mgs-checkbox :checked + label::before, .mgs-radio :checked + label::before {
    left: 10px;
    top: 0;
}
.btn-default {
    border-radius: 30px;
}
#QuoteForm .progress {
    border-radius: 30px;
}
.mgs-checkbox label, .mgs-radio label {
  border-radius: 30px;
}
.mgs-checkbox label img, .mgs-radio label img {
  border-radius: 25px;
}
.review-submit-section h4, .review-submit-section h5 {
    border-radius: 30px;
}
